/.vs/
/Controller/bin
/Controller/obj
/Model/bin
/Model/obj
/View/bin
/View/obj
/UnitTestModel/bin
/UnitTestModel/obj
/TestResults/
/ConsoleView/bin
/ConsoleView/obj
/Influence/bin
!/Influence/bin/Records.txt
/Influence/obj