/.vs/
/Controller/bin
/Controller/obj
/Model/bin
/Model/obj
/View/bin
/View/obj
/UnitTestModel/bin
/UnitTestModel/obj
/TestResults/
/WinFormsView/bin
/WinFormsView/obj
/InfluenceForms/bin
!/InfluenceForms/bin/Records.txt
/InfluenceForms/obj